{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}USIC-Розклад</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/static/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/icons/apple-touch-icon-76x76.png">
    <link rel="icon" type="image/png" href="/static/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/icons/favicon-16x16.png" sizes="16x16">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-square70x70logo" content="/static/icons/mstile-70x70.png">
    <meta name="msapplication-square150x150logo" content="/static/icons/mstile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="/static/icons/mstile-310x150.png">

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "css/jumbotron-narrow.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.autocomplete-min.js" %}"></script>
    <script src="{% static "js/timetable.js" %}"></script>


    {% block head %}
    {% endblock %}
  </head>

  <body>

    <div class="container">
      {% include "header.html" %}
      {% block body %}

      <h3>Сервіс оновлено для осіннього триместру 2014 року</h3>
      {% if not user.is_authenticated %}
      <div class="jumbotron">
        <iframe width="560" height="315" src="//www.youtube.com/embed/l6MpgLGrw84" frameborder="0" allowfullscreen></iframe></p>
        <p><a class="btn btn-lg btn-success" href="/accounts/profile/" role="button">Увійти через USIC</a></p>
      </div>
      {% endif %}

      <div class="row marketing">
          <ul class="nav nav-tabs">
              {% for faculty, major_list in faculty_major_kind_tt_list %}
              <li{% if forloop.first %} class="active"{% endif %}>
              <a href="#faculty-{{ faculty.pk }}" data-toggle="tab">{{ faculty.abbr }}</a>
              </li>
              {% endfor %}
          </ul>
<div class="tab-content">
{% for faculty, major_list in faculty_major_kind_tt_list %}
    <div class="tab-pane{% if forloop.first %} active{% endif %}" id="faculty-{{ faculty.pk }}">
    {% for major, kind_list in major_list %}
    <h4>{{ major }}</h4>
    <div class="row">
        {% for kind, year_list in kind_list %}
            <div class="col-xs-2" style="height:34px;line-height:34px;">{{ kind }}</div>
            <div class="col-xs-4" style="padding-bottom:10px">
            {% for year, tt in year_list %}
                <a class="btn btn-primary" href="/tt/{{ tt.pk }}/">{{ year }}</a>
            {% endfor %}
            </div>
        {% endfor %}
    </div>
    {% endfor %}
    </div>
{% endfor %}
<hr>
</div>
<div>
    <h3>Останні редагування</h3>
    <ul>
    {% for ver in recent_modifications %}
    <li>
    <a href="/tt/{{ ver.timetable.pk }}/">{{ ver.timetable }}</a> —
    <a href="/version/{{ ver.pk }}/">{{ ver.create_date }}</a> (<i>{{ ver.author }}</i>)
    {% if ver.approver %}
    <span class="label label-success"><i class="fa fa-check"></i></span>
    {% else %}
    <span class="label label-warning"><i class="fa fa-spinner"></i></span>
    {% endif %}
    </li>
    {% endfor %}
    </ul>
</div>
      </div>

      {% endblock %}
      <div class="footer">
        <p>Неофіційна версія могилянського розкладу від USIC &copy; 2014</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
